h1, ul, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
}
img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  background-color: $white;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.section-main {
  background-color: #fff;
  flex: 0 0 90%;
  margin-top: -5rem;
  padding: 1rem;
}