html {
    background: cornflowerblue;
}

h1, ul, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background: none;
}
img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.hide {
  display: none;
}