.roster-list {
  display: flex;
  flex-wrap: wrap;
  & .player-info {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 100%;
    transition: all 300ms ease-in;
    border: .1px solid $silver;
    margin-bottom: 10px;
    &:nth-child(even) {
      background: $silver;
      & .season-stats {
        border: 0.1px solid #fff;
      } 
    }
    &:hover {
      border: .1px solid $accent;
    }
    &:hover .player {
      // color: #fff;
    }
    
    & .player {
      display: flex;
      flex: 1 0 100%;
      padding: 1rem .5rem 1rem; 
      transition: all 300ms ease-in;
      & span, .player-name, .player-number {
        padding: 1rem .5rem 1rem 0;
      }
    }
    & .accordion-content-container {
      display: flex;
      flex-wrap: wrap;
      flex: 1 0 100%;
    }
    & .season-stats {
      flex: 1 0 calc(100% - 10px);
      margin: 5px;
      padding: 20px;
      border: solid $silver 0.1px;
      & p {
        margin: 5px 0;
      }
      @media (min-width: $tablet) {
        flex-basis:30%;
      }
    }
    // & .player-season {
    //   font-weight:600;
    // }
    & span {
      flex: 1 0 15%;
    }
    & .player-number {
      flex: 1 0 15%;
      display: flex;
    }
    & .player-name {
      flex: 1 0 70%;
      display: flex;
    }
  }
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  display: none;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  display: none;
}