.teams-container {
  background-color: $white;
  display: flex;
  justify-content: center;
}

.teams {
  background-color: #fff;
  flex: 0 0 98%;
  margin-top: -5rem;
  padding: 1rem;
  & ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-container {
  flex: 0 0 50%;
  align-items: center;
  display: flex;
  transition: all 300ms ease-in;
  padding: 1rem 0;
  @media (min-width: $tablet) {
    flex-basis: 33%;
    padding: 1rem .5rem 1rem 1rem;
  }
  @media (min-width: $desktop) {
    flex-basis: 25%;
  }
  &:hover {
    background-color: $accent;
  }
  &:hover .team-name {
    color: #fff;
  }
  & .team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .team-image-container {
    width: 20px;
    margin-right: 10px;
  }
  .team-name {
    transition: all 200ms ease-in;
  }
}