html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1 {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-family: $heading;
  font-size: 5rem;
}

.hero-cta {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.team-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: $main;
}

.game-link {
  font-size: 1.4rem;
  font-family: $main;
}

.roster-list .player-info .player, .season-stats  {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.season-stats {
  // font-family: $main;
  // font-size: 1.4rem;
  text-transform: uppercase;
}

.opponents-container {
  font-weight: 600;
}
.player-season {
  font-weight: 600;
}

.team-name {
  font-size: 1.2rem;
  font-family: $main;
  @media (min-width: $tablet) {
    font-size: 1.4rem;
  }
}