html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1 {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.hero-cta {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.team-name {
  font-size: 1.4rem;
}