// COLORS
//a lot of the text should be this black on the off-white background.
$black: #292F36;
$white: #f1f7ed;
//accent color used for hovers/links/anywhere that needs some pop/sudden contrast change
$accent:#8e27ba;

//Other colors if needed
$silver: #d1d7db;
$grey: #95a3ae;

// MEDIA QUERIES
$tablet: 600px;
$desktop: 800px;
//large desktop possibly not needed
$large-desktop: 1500px;

// FONTS
$heading: 'Exo 2', sans-serif;
$main: 'Open Sans', sans-serif;

