article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

h1 {
  color: #f1f7ed;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 5rem; }

.hero-cta {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px; }

.team-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

.game-link {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif; }

.roster-list .player-info .player, .season-stats {
  font-size: 1.2rem;
  text-transform: uppercase; }

.season-stats {
  text-transform: uppercase; }

.opponents-container {
  font-weight: 600; }

.player-season {
  font-weight: 600; }

.teams {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif; }

body {
  background: #f1f7ed; }

h1, ul, p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none; }

img {
  width: 100%;
  display: block; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.container {
  background-color: #f1f7ed;
  display: flex;
  justify-content: center; }

.hide {
  display: none; }

.section-main {
  background-color: #fff;
  flex: 0 0 90%;
  margin-top: -5rem;
  padding: 1rem; }

nav {
  background: #fff;
  color: #292F36;
  display: flex; }
  nav .nav-menu-container {
    padding: 1rem 0;
    flex: 0 0 90%; }
  nav .wrapper {
    display: flex;
    justify-content: flex-end; }
  nav .burger-menu-icon {
    color: #8e27ba; }
  nav .nav-menu {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 36.5px;
    border-bottom: 3px solid #8e27ba; }

.menu-icon {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #8e27ba;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
.menu-icon span:nth-child(1) {
  top: 0px; }

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 8px; }

.menu-icon span:nth-child(4) {
  top: 16px; }

.menu-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%; }

.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.home-page .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/hockey-bg.jpg) no-repeat center;
  background-size: cover; }

.main-page .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/hockey-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 7rem 0 9rem;
  display: flex;
  justify-content: center; }

.hero-cta {
  background-color: #8e27ba;
  padding: 4rem 6rem;
  color: #f1f7ed;
  margin-top: 8rem;
  transition: all 300ms ease; }
  .hero-cta:hover {
    background-color: #f1f7ed;
    color: #8e27ba; }

.teams-container {
  background-color: #f1f7ed;
  display: flex;
  justify-content: center; }

.teams {
  background-color: #fff;
  flex: 0 0 98%;
  margin-top: -5rem;
  padding: 1rem; }
  .teams ul {
    display: flex;
    flex-wrap: wrap; }

.team-container {
  flex: 0 0 50%;
  align-items: center;
  display: flex;
  transition: all 300ms ease-in;
  padding: 1rem 0; }
  @media (min-width: 600px) {
    .team-container {
      flex-basis: 33%;
      padding: 1rem .5rem 1rem 1rem; } }
  @media (min-width: 800px) {
    .team-container {
      flex-basis: 25%; } }
  .team-container:hover {
    background-color: #8e27ba; }
  .team-container:hover .team-name {
    color: #fff; }
  .team-container .team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; }
  .team-container .team-image-container {
    width: 20px;
    margin-right: 10px; }
  .team-container .team-name {
    transition: all 200ms ease-in; }

.roster-list {
  display: flex;
  flex-wrap: wrap; }
  .roster-list .player-info {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    transition: all 300ms ease-in;
    border: 0.1px solid #d1d7db;
    margin-bottom: 10px; }
    .roster-list .player-info:nth-child(even) {
      background: #d1d7db; }
      .roster-list .player-info:nth-child(even) .season-stats {
        border: 0.1px solid #fff; }
    .roster-list .player-info:hover {
      border: 0.1px solid #8e27ba; }
    .roster-list .player-info .player {
      display: flex;
      flex: 1 0 100%;
      padding: 1rem .5rem 1rem;
      transition: all 300ms ease-in; }
      .roster-list .player-info .player span, .roster-list .player-info .player .player-name, .roster-list .player-info .player .player-number {
        padding: 1rem .5rem 1rem 0; }
    .roster-list .player-info .accordion-content-container {
      display: flex;
      flex-wrap: wrap;
      flex: 1 0 100%; }
    .roster-list .player-info .season-stats {
      flex: 1 0 calc(100% - 10px);
      margin: 5px;
      padding: 20px;
      border: solid #d1d7db 0.1px; }
      .roster-list .player-info .season-stats p {
        margin: 5px 0; }
      @media (min-width: 600px) {
        .roster-list .player-info .season-stats {
          flex-basis: 30%; } }
    .roster-list .player-info span {
      flex: 1 0 15%; }
    .roster-list .player-info .player-number {
      flex: 1 0 15%;
      display: flex; }
    .roster-list .player-info .player-name {
      flex: 1 0 70%;
      display: flex; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  display: none; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  display: none; }

.games-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem; }

.game-link {
  background-color: #292F36;
  color: #f1f7ed;
  padding: 1rem 0 0;
  border: .1px solid silver;
  flex-wrap: wrap;
  display: none;
  flex: 1 0 100%;
  align-items: flex-end;
  transition: all 300ms ease; }
  .game-link:hover .buy-now {
    background-color: #fff;
    color: #8e27ba; }
  @media (min-width: 800px) {
    .game-link {
      display: flex;
      flex-basis: 20%; } }
  .game-link:nth-child(1) {
    display: flex; }
  .game-link .opponents-container {
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 .5rem; }
  .game-link .game-info-container {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .game-link .game-info-container .game-date {
      flex: 1 0 100%;
      text-align: center;
      margin-bottom: 10px; }
    .game-link .game-info-container .game-time {
      flex: 1 0 100%;
      text-align: center; }
  .game-link .buy-now {
    flex: 1 0 100%;
    text-align: center;
    padding: .5rem;
    background-color: #8e27ba;
    transition: all 300ms ease; }
